# Virtual environments
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Logs & Databases
*.log
*.sqlite3
db.sqlite3

# Environment variables
*.env

# Editors/IDE files
.vscode/
.idea/

# System files
.DS_Store

# Docs
*.doc/
*.docx

# Dir
exercise/
exercise_group_mock/
assignments/